<h1>Overview of the professional</h1>
<table>
  <thead>
    <th>id</th>
    <th>name</th>
    <th>Happiness index</th>
  </thead>
  <tbody>
  <tr *ngFor="let prof of professionals;" >
    <td>{{prof.id}}</td>
    <td>{{prof.name}}</td>
    <td *ngIf="prof.happinessindex === 1">😀</td>
    <td *ngIf="prof.happinessindex === 2">🙂</td>
    <td *ngIf="prof.happinessindex === 3">😭</td>
    <button (click)="deleteTheRecord(prof.id)"><---- DELETE.... And find a UI UX designer please</button>
  </tr>
  </tbody>
</table>
<button (click)="voegProfessionalToe()">Add a professional</button>

